{% extends 'core/base.html' %}

{% block tittle %}Pedidos{% endblock tittle%}


{% block content %}

    {% include 'navegacion/navProd.html'%}


    <div class="">
        <!-- aqui estamos importando estilos propios de css -->
        <h1 class="titulo">Lista de Pedidos</h1>
    </div>

    
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Numero Orden</th>
                <th scope="col">Cantidad Productos</th>
                <th scope="col">Total Pedido</th>
                <th scope="col">Fecha Emision</th>
                <th scope="col">Fecha Modificación</th>
                <th scope="col">Fecha Envio</th>
                <th scope="col">Fecha Recepcion</th>
                <th scope="col">Estado</th>
                <th scope="col">Proveedor</th>

                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>



            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
                <tr>
                    <th scope="row">{{pedido.id}}</th>
                    <td>{{pedido.num_orden}}</td>
                    <td>{{pedido.cant_productos}}</td>
                    <td>{{pedido.total_pedido}}</td>
                    <td>{{pedido.fecha_emision}}</td>
                    {% if pedido.fecha_modificacion %}
                        <td>{{pedido.fecha_modificacion}}</td>
                    {% else %}
                        <td>Sin fecha Modificación</td>
                    {% endif %}
                    {% if pedido.fecha_envio %}
                        <td>{{pedido.fecha_envio}}</td>
                    {% else %}
                        <td>Sin fecha envío</td>
                    {% endif %}
                    
                    {% if pedido.fecha_recepcion %}
                        <td>{{pedido.fecha_recepcion}}</td>
                    {% else %}
                        <td>Sin fecha recepción</td>
                    {% endif %}
                   
                    <td>{{pedido.estado}}</td>
                    <td>{{pedido.proveedor}}</td>



                   
                    <td><a class="btn btn-outline-success" href="{% url 'upPedido' pedido.id %}">Editar</a></td>
                    <td><a id="btnDelete" class="btn btn-outline-danger" href="{% url 'delPedido' pedido.id %}">Eliminar</a></td>

                </tr>
            {% endfor %}
            
        </tbody>
    </table>

    


{% endblock content %}
